@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-caslon: 'Adobe Caslon Pro', serif;
  --font-mono: 'Space Mono', monospace;
}
body {
  @apply bg-vwBg bg-grain text-vwRed font-caslon;
}
@layer utilities {
  .bg-grain {
    background-image: 
      repeating-linear-gradient(0deg, transparent, transparent 1px, rgba(0, 0, 0, 0.015) 1px, rgba(0, 0, 0, 0.015) 2px),
      repeating-linear-gradient(90deg, transparent, transparent 1px, rgba(0, 0, 0, 0.015) 1px, rgba(0, 0, 0, 0.015) 2px);
    background-size: 2px 2px;
  }
}

